/* CSS commun à l'ensemble des pages */

body 
{ 
	background: url('../img/bg4.jpg') no-repeat center center fixed;
	/*background-color: #F2F2F2;*/
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	cursor: pointer;
}

#bs-example-navbar-collapse-1 ul li{
	text-align : left;
}


/*@media (max-width: 770px) {
	.navbar-toggle{
		
	}
}*/
/*
@media (min-width: 1030px){
.navbar-nav>li>a {
padding-top: 15px;
padding-bottom: 15px;
}
}
@media (min-width: 1030px){
	.navbar-toggle {
	display: none;
	}
}*/

#footerB {
	background-color: #FBFBFB;
}