#filtreAnnee {
	height : 40px;
	max-height : 40px;
	/*width : 100%;
	max-width : 300px;
*/
	}

#filtreToday{
	height : 40px;
	max-height : 40px;
}

#h3MoisAnnee {
	height : 40px;
	max-height : 40px;
	text-align : center;
}	

#h3MoisAnnee h3, h4 {	
	/*zorder: 1px solid red;*/
	height : 38px;
	max-height : 38px;
	display: inline;
}

#groupeFiltre {
	display: inline-block;
	text-align: center;
}


#allFiltre {
	display: inline-block;
}

#bs-example-navbar-collapse-1 ul li a {
	cursor : pointer;
}

#petitH4 {
	font-size: 14px;
}

#calendar {
	background-color: #F2F2F2;
}

.page-header {
	padding-bottom: 0px !important;
	margin: 0px 0 0px !important;
}

@media (min-width: 603px) and (max-width: 1199px) {
  #rowFiltreLeft {
    width: 50% !important;
	float: left !important;
  }
}

@media (min-width: 603px) and (max-width: 1199px) {
  #rowFiltreRight{
    width: 50% !important;
	float: right !important;
  }
}



